

.slides-list{
    /*remove os estilos da lista*/
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    
    /* 
      deixa todos os itens da lista
      na horizontal e todos com a
      mesma largura
    */
    display: flex;
    
    left: 0%;
    --total-items: 3;
  
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
  }

 

  .slide-show{
    overflow-x: hidden;
  }

  .swiper-slide{
    width: 400px;
    margin: 0 auto;
  }

  .img-container{
    width: 400px;
    margin: 0 auto;
  }

  .img-container img{
    width: 100% !important;
    margin: 0 auto;
  }



